:root {
  --primary-900: hsl(27, 97%, 54%);
  --primary-700: hsl(27, 97%, 74%);
  --primary-100: hsl(37, 100%, 91%);

  --neutral-800: hsl(0, 0%, 13%);
  --neutral-600: hsl(0, 0%, 25%);

  --red-100: hsl(0, 100%, 91%);

  --white-900: hsl(0, 0%, 100%);
  --white-800: hsl(20, 43%, 99%);
  --white-300: hsl(0, 0%, 97%);

  --gray-600: hsl(0, 0%, 50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

/* Navegação */

.header,
.header-top,
.right {
  display: flex;
}

.header-top,
.right {
  justify-content: space-between;
  align-items: center;
}

.header-top {
  padding: 1em 4em;
  width: 100%;
  height: max-content;
  background-color: var(--white-900);
}

.header {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.title::before {
  content: "";
  width: 24px;
  height: 22px;
  background-image: url("../img/icons/logo.svg");
}

.right {
  column-gap: 2rem;
}

.fieldset-search {
  border: none;
}

.legend-search {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search {
  position: relative;
  border: 1px solid #d0d7de;
  padding: 1em;
  border-radius: 0.625em;
  width: 380px;
  display: flex;
}

.search-icon {
  display: inline-flex;
  position: absolute;
  right: 8px;
  top: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-icon::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/search.svg");
}

.input-search {
  border: none;
  outline: none;
  width: 400px;
}

.input-search::placeholder {
  color: var(--gray-600);
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 2px;
}

.navigation {
  display: inline-flex;
  align-items: center;
  column-gap: 2rem;
  position: relative;
}

.cart {
  display: inline-flex;
  cursor: pointer;
  --fw-600: 800;
}

.cart::before {
  content: "";
  width: 30px;
  height: 31px;
  background-image: url("../img/icons/bag.svg");
}

.quantity {
  color: var(--primary-900);
  font-weight: var(--fw-600);
}

.sign {
  background-color: var(--neutral-800);
  border: none;
  color: var(--white-900);
  color: #fdfbfa;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1em 1.563em;
  border-radius: 0.625em;
  cursor: pointer;
}

.sign:hover {
  background-color: var(--neutral-600);
  transition: background 2s ease;
}

/* */

/* Conteúdo principal do cabeçalho */

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  column-gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 8.75rem;
}

.content {
  width: 40%;
  min-width: 660px;
  flex-grow: 1;
}

.content-title {
  font-size: 3.5rem;
}

.premium,
.health,
.day {
  color: var(--primary-900);
}

.health {
  margin-left: 0.25em;
}

.break {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content-description {
  font-weight: 400;
  line-height: 25px;
  margin: 1em 0;
}

.clients {
  border-top: 1px solid #d0d7de;
  padding: 2em 0;
}

.clients-title {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.5rem;
}

.clients-title::before {
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("../img/icons/bagheart.svg");
}

.clients-list {
  display: flex;
  column-gap: 2rem;
  margin-top: 1em;
  flex-wrap: wrap;
}

.clients-list li {
  list-style: none;
}

.clients-list li:nth-child(even) {
  color: var(--primary-700);
}

.clients-list li:nth-child(odd) {
  color: var(--gray-600);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, max-content) 80px;
  grid-template-rows: 80px 1fr 80px;
  column-gap: 2rem;
  width: 40vw;
  flex-grow: 1;
  overflow: hidden;
}

.grid-item__principal {
  grid-row: 1 / 4;
}

.grid-item__secondary {
  grid-row: 2 / 3;
}

.grid-item__tertiary {
  grid-row: 3 / -3;
}

/*  */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  padding: 1em 4em;
}

.card {
  background-color: var(--white-300);
  padding: 1em;
  border-radius: 1em;
}

.card > * {
  margin-bottom: 1em;
}

.card-title {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.image img {
  width: 100%;
  object-fit: fill;
}

.star,
.value,
.mins {
  display: inline-flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.star::before,
.value::before,
.mins::before {
  content: "";
  width: 22px;
  height: 22px;
}

.star::before {
  background-image: url("../img/icons/star.svg");
}

.value::before {
  background-image: url("../img/icons/label.svg");
}

.mins::before {
  background-image: url("../img/icons/person.svg");
}

.avaliation,
.values {
  display: flex;
  justify-content: space-between;
}

.avaliation p {
  color: var(--gray-600);
  font-weight: 500;
}

.card-button {
  background-color: var(--primary-900);
  color: var(--white-900);
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.card-button:hover {
  background-color: var(--primary-700);
  transition: background 2s ease;
}

/*  */

footer {
  background-color: var(--primary-900);
  color: var(--white-900);
  padding: 1em 4em;
  margin-top: 4em;
}

footer > * {
  margin-top: 2em;
}

.footer,
.links,
.socials {
  display: flex;
}

.footer {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.links {
  column-gap: 1rem;
  padding-left: 9em;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: var(--white-900);
}

.socials {
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  column-gap: 1rem;
}

.social-links > * {
  display: inline-flex;
  cursor: pointer;
}

.social-links > *::before {
  content: "";
  width: 24px;
  height: 24px;
}

.logo-footer {
  font-size: 2rem;
}

.instagram {
  background-image: url("../img/icons/instagram.svg");
}

.facebook {
  background-image: url("../img/icons/facebook.svg");
}

.twitter {
  background-image: url("../img/icons/twitter.svg");
}

/*  */

/* Modal */

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #d0d7ded3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-900);
  z-index: 4;
}

.modal h5 {
  font-size: 1.5rem;
}

.modal-item {
  position: relative;
  background-color: #202020;
  padding: 3em;
  z-index: 4;
  border: 4px solid var(--white-300);
  border-radius: 1em;
  gap: 2rem;
}

.modal-item,
.item-information,
.item-description,
.add-item {
  display: flex;
}

.item-information,
.add-item {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-item {
  flex-wrap: wrap;
}

.item-information {
  flex-grow: 1;
}

.item-information h3 {
  font-size: 1.85rem;
}

.item-description > * {
  padding: 2em;
  text-align: center;
}

.ratings-stars,
.time-mins,
.total-value {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.ratings-stars::before,
.time-mins::before,
.total-value::before {
  content: "";
  width: 22px;
  height: 22px;
}

.ratings-stars::before {
  background-image: url("../img/icons/star2.svg");
}

.time-mins::before {
  background-image: url("../img/icons/hand.svg");
}

.total-value::before {
  background-image: url("../img/icons/label.svg");
}

.add-item {
  padding: 2em;
  border: 2px dashed var(--primary-900);
  flex-grow: 1;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
  color: var(--white-900);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 800;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Carrinho */

.cart-container,
.cart-items,
.cart-list__name,
.cart-items__total,
.cart-list__quantity,
.cart-list__items,
.cart-value__items {
  display: flex;
}

.cart-items,
.cart-list__name,
.cart-list__items,
.cart-list__quantity,
.cart-items__total,
.cart-value__items {
  justify-content: space-between;
}

.cart-container {
  justify-content: flex-end;
}

.animation-cart {
  animation: opacity 0.5s alternate;
}

@keyframes opacity {
  from {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }
}

.cart-container {
  position: fixed;
  background-color: var(--white-900);
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 4;
  padding: 2em;
  gap: 2rem;
}

.cart-items {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.cart-list__quantity {
  flex-direction: column;
}

.cart-list__quantity h6 {
  font-size: 1rem;
  font-weight: 500;
}

.cart-list {
  margin-top: 2em;
  overflow-y: scroll;
  height: 68vh;
}

.cart-list::-webkit-scrollbar {
  width: 12px;
}

.cart-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.cart-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.cart-list__items {
  margin-bottom: 2em;
}

.cart-list__title {
  margin-bottom: 1em;
}

.cart-items__total h5,
.cart-list__title,
.cart-value__items h6 {
  font-size: 1.5rem;
}

.cart-value__total {
  font-size: 1.85rem;
}

.cart-list__name {
  gap: 1rem;
}

.cart-list__image {
  width: 120px;
  height: 120px;
  border-radius: 0.25em;
}

.cart-list__image img {
  width: 100%;
  height: 100%;
}

.cart-list__actions {
  display: inline-flex;
  gap: 1rem;
  height: 24px;
  margin: auto 0;
}

.decrease,
.increase {
  padding: 0.25em;
  background-color: var(--primary-900);
  color: var(--white-900);
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.25em;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.cart-checkout {
  width: 100%;
  padding: 0.85em;
  margin-top: 2em;
  border: none;
  background-color: var(--primary-900);
  color: var(--white-900);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 0.5em;
}

.color {
  color: var(--primary-900);
}

.cart-close {
  position: absolute;
  top: 8px;
  left: 8px;
  border: none;
  color: var(--primary-900);
  font-weight: 800;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
}

/*  */

/* Botão Hamburguer */

.button-hamburguer {
  --button-color: white;
  overflow: hidden;
  border: none;
  background-color: var(--primary-900);
  border-radius: 0.5em;
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}

.button-hamburguer .hamburger {
  transition: translate 0.5, rotate 0.5s;
}

.button-hamburguer[aria-expanded="true"] .hamburger {
  translate: 3px -2px;
  rotate: 0.125turn;
}

.button-hamburguer .line {
  transition: 0.5s;
  stroke-dasharray: 60 31 60 300;
}

.button-hamburguer[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

/*  */

/* Fixar topo */

.fixed-menu {
  position: fixed;
  animation: fadeIn 0.2s ease; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  */

/* Responsivo */

@media only screen and (max-width: 992px) {
  .button-hamburguer {
    display: block;
  }

  .content {
    min-width: 100%;
  }

  .cart-list__name {
    flex-direction: column;
  }

  .form-search {
    order: 1;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .grid-item__principal {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .grid-item__secondary {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .grid-item__tertiary {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .header-top,
  .right {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-item {
    align-items: center;
    justify-content: center;
    height: min-content;
  }

  .right {
    row-gap: 1rem;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 769px) {
  .cart-container {
    width: 100%;
  }

  .footer {
    gap: 2rem;
  }

  .health {
    margin-left: 0;
  }

  .item-description {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .item-description h5 {
    font-size: 1rem;
  }

  .links {
    padding: 0;
  }
}

@media only screen and (max-width: 523px) {
  .item-information > h3 {
    font-size: 1.25rem;
  }
  .modal-item picture {
    width: 140px;
    height: 140px;
  }

  .modal-item img {
    width: 100%;
    height: 100%;
  }
}

/*  */
